/bin/
/market/
/gen/
/target/
/review/
/obj/
/libs/
/out/
/.classpath
/.settings/
/.externalToolBuilders/
/.idea/
**/*.iml
/*.iml
/classes/
**/target
**/.DS_Store
/local.properties
**/build/
/build/
/.gradle/
